body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

header img {
    height: 70px;
}

body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    background: #f5f5f5;
}
input {
    padding: 10px;
    width: 65%;
    font-size: 16px;
}

button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

li {
    padding: 5px 0;
    font-size: 18px;
}