body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

header img {
    height: 70px;
}



hr{
    border: 2px solid silver;
}

/* Container para centralizar o cartão na sua página */
.container-cartao {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cartao-box {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #555555;
    border-radius: 24px;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Força o alinhamento do texto à esquerda dentro do cartão, anulando o 'text-align: center' do seu body */
    text-align: left; 
    /* Usa a fonte monoespaçada apenas dentro do cartão */
    font-family: 'Courier New', Courier, monospace; 
}

.cartao-linha-superior {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cartao-produto {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.cartao-linha-codigo {
    display: flex;
    justify-content: space-between; /* Empurra o código para a esquerda e as caixas para a direita */
    align-items: center;            /* Alinha os dois verticalmente no meio */
}

.cartao-codigo {
    font-size: 22px;
    margin: 0;
}
.cartao-quantidade {
    font-size: 22px;
    margin: 5px 0 0 0;
}


.cartao-linha-inferior {
    margin-top: auto;
}

.cartao-vencimento {
    font-size: 22px;
    margin: 0;
    word-spacing: 2px;
}
