<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contagem Geladeira</title>
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/selecionar_contagem.css') }}">
</head>
<body>

    <header>
        <h1>Contagem Geladeira</h1>
        <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
    </header>

    <hr>

    
</body>
</html>