<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório Entrada</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio_entrada.css') }}">
</head>

<body>
    <header>
        <h1>Relatório Entrada</h1>
        <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
    </header>

    <hr>

    <div class="container-carga">

        <form method="POST">
            <div class="selecionar-carga">

                <p>Selecionar Carga:</p>
                <select class="select-carga" id="cargas" name="carga">
                    {% for numero_carga, caminho_xml in cargas.items() %}
                    <option value="{{ numero_carga }}" {% if numero_carga|string==carga_selecionada %}selected{% endif
                        %}>
                        {{ numero_carga }}
                    </option>
                    {% endfor %}
                </select>

                <button type="submit" name="acao" value="buscar">Buscar</button>

            </div>

            <div class="informacoes-carga">
                {% if notas %}
                <p>Motorista: <p1>{{ notas[0].motorista }}</p1>
                </p>
                <p>Placa: <p1>{{ notas[0].placa }}</p1>
                </p>
                <p>Origem: <p1>{{ notas[0].local }}</p1>
                </p>

                <p>Data Emissão:
                    <p1>
                        {{ notas[0].data_emissao }}
                    </p1>
                </p>

                <p>Notas Fiscais:
                    <p1>
                        {% for nota in notas %}
                        {{ nota.numero_nota }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p1>
                </p>
                {% endif %}
            </div>

    </div>

    <hr>

    <div class="table-container">
        <table class="tabela">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Quant</th>
                    <th>Fabricação</th>
                    <th>Vencimento</th>
                    <th>Alterar FEFO</th>
                    <th>Pallet Danificado</th>
                    <th>Vazamento</th>
                    <th>Observação</th>
                </tr>
            </thead>

            <tbody>
                {% if notas %}
                {% for nota in notas %}

                <tr class="linha-nota">
                    <td colspan="11">
                        <strong>Nota Fiscal {{ nota.numero_nota }}</strong> -
                        Emitida em {{ nota.data_emissao }}
                    </td>
                </tr>

                {% for item in nota.itens %}
                <tr>
                    <td>{{ item.item }}</td>
                    <td>{{ item.codigo }}</td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.quantidade }}</td>

                    <input type="hidden" name="codigo[]" value="{{ item.codigo }}">
                    <input type="hidden" name="descricao[]" value="{{ item.descricao }}">

                    <td><input type="date" name="fabricacao[]"></td>
                    <td><input type="date" name="vencimento[]"></td>
                    <td><input type="checkbox" name="fefo[]" value="{{ item.codigo }}"></td>
                    <td><input type="checkbox" name="pallet_danificado[]" value="{{ item.codigo }}"></td>
                    <td><input type="checkbox" name="vazamento[]" value="{{ item.codigo }}"></td>
                    <td><input type="text" name="obs[]"></td>

                </tr>
                {% endfor %}

                {% endfor %}

                {% endif %}

            </tbody>

        </table>
    </div>

    <input type="hidden" name="total_itens" value="{{ total_itens }}">

    <button class="botao-salvar" type="submit" name="acao" value="salvar">Salvar</button>

    </form>

</body>

</html>