<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvar Contagem Bebidas</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/salvar_contagem.css') }}">

</head>
<body>

    <header>
        <h1>Contagem de Estoque</h1>
        <img src="{{ url_for('static', filename='images/logo_dbcambui_2.png') }}" alt="Logo da Empresa">
    </header>

    <hr>

    <h2>Contagem Enviada com Sucesso!</h2>
    
</body>
</html>